___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [274]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [275]:
# Check
lesser_of_two_evens(2,4)

2

In [276]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    word = text.split()
    return word[0][0] == word[1][0]

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [11]:
def makes_twenty(n1,n2):
    return n1+n2 == 20 or n1 == 20 or n2 == 20

In [16]:
# Check
makes_twenty(2,20)

True

In [13]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [277]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Input is too short'

In [278]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [281]:
def master_yoda(text):
    return ' '.join(text.split()[::-1]).capitalize()

In [282]:
# Check
master_yoda('I am home')

'Home am i'

In [283]:
# Check
master_yoda('We are ready')

'Ready are we'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [33]:
def almost_there(n):
    return abs(100-n)<=10 or abs(200-n)<=10

In [34]:
# Check
almost_there(104)

True

In [35]:
# Check
almost_there(150)

False

In [36]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [314]:
def has_33(nums):
    for index in range(0, len(nums)-1):
        if nums[index] == 3 and nums[index+1] == 3:
            return True
    return False

In [315]:
# Check
has_33([1, 3, 3, 1])

True

In [316]:
# Check
has_33([1, 3, 1, 3])

False

In [317]:
# Check
has_33([3, 1, 3, 1, 1, 3, 3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [318]:
def paper_doll(text):
    text1 = []
    for char in text:
        text1.append(char*3)
    return ''.join(text1)

In [319]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [320]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [331]:
def blackjack(a,b,c):
    if a+b+c <= 31:
        if a+b+c <= 21:
            return sum((a,b,c))
        if 11 in (a,b,c): 
            return sum((a,b,c))-10
    return "BUST"

In [332]:
# Check
blackjack(5,6,7)

18

In [338]:
# Check
blackjack(10,10,10)

'BUST'

In [334]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [150]:
def summer_69(arr):
    ignore = 0
    sums = 0
    for numb in arr:
        if numb == 6 or numb == 9:
            ignore = numb
        while ignore != 6:
            if ignore != 9:
                sums += numb
            else:
                ignore = 0
            break
    return sums

In [151]:
# Check
summer_69([1, 3, 5])

9

In [152]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [153]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [373]:
def spy_game(nums):
    bond = [0,0,7,'james']
    for num in nums:
        if num == bond[0]:
            bond.pop(0)
    return bond[0] == 'james'

In [374]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [375]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [376]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [197]:
def count_primes(num):
    count = 98
    for n in range(0,num):
        if n > 1:
            for i in range (2, int(n**0.5)+1):
                if n%i == 0:
                    count -= 1
                    break
    return count

In [198]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [272]:
pattern = {
    1:"*    ", 2:"**   ", 3:"***  ", 4:"**** ", 5:"*****", 6:"* ***", 7:"**  *", 8:"* * *", 9:"*  **", 10:"** **", 11:" ** *", 12:"    *", 13:"*   *", 14:" * * ", 15:"  *  ", 16:" ****", 17:" *** ", 18:"  ***", 19:"* *  "
    , 20:"   * ", 21:" *   "
}
alpha = {
    'a':[15,14,5,13,13], 'b':[4,13,4,13,4], 'c':[16,1,1,1,16], 'd':[4,13,13,13,4], 'e':[5,1,5,1,5], 'f':[5,1,4,1,1], 'g':[16,1,6,13,16],'h':[13,13,5,13,13], 'i':[15,15,15,15,15], 'j':[18,12,12,13,17], 'k':[13,19,2,19,13]
    , 'l':[1,1,1,1,5], 'm':[13,10,8,13,13], 'n':[13,7,8,9,13], 'o':[17,13,13,13,17], 'p':[4,13,4,1,1], 'q':[17,13,8,9,11], 'r':[4,13,4,19,13], 's':[5,1,5,12,5], 't':[5,15,15,15,15], 'u':[13,13,13,13,17], 'v':[13,13,13,14,15]
    , 'w':[13,13,8,10,13], 'x':[13,14,15,14,13], 'y':[13,14,15,15,15], 'z':[5,20,15,21,5]
}
def print_big(letter):
    for num in alpha[letter]:
        print(pattern[num])

In [273]:
print_big('z')

*****
   *
  *
 *
*****

## Great Job!